# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# vuepress build output
*dist

# vuepress v2.x temp and cache directory
*.temp
*.cache