# Yarn files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Dependency directories
node_modules/

# vuepress build output
**/dist

# vuepress v2.x temp and cache directory
**/.temp
**/.cache