@font-face {
    font-family: "Phigros";
    font-style: normal;
    font-weight: bold;
    src: url("/assets/font/Phigros.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: 'Phigros';
}