@font-face {
    font-family: "Phigros";
    font-style: normal;
    font-weight: bold;
    src: url("/assets/font/Phigros.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: Phigros, 'Jetbrains Mono', 'Cascadia Code', Consolas;
}

code {
    font-family: Phigros, 'Jetbrains Mono', 'Cascadia Code', Consolas
}

pre>code {
    font-family: 'Jetbrains Mono', 'Cascadia Code', Consolas;
}